* {
    box-sizing: border-box;
}

:root {
    --grey-background-color: rgb(213, 225, 239);
    --white-background-color: #fff;
}

html {
    font-size: 62.5%;
}

main {
    height: 100vh;
    background-color: var(--grey-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.wrapper {
    width: 32rem;
    height: 50rem;
    background-color: var(--white-background-color);
    border-radius: 2rem;
    padding: 1.6rem 1.6rem 4rem 1.6rem;

    @media screen and (max-width: 376px) {
        width: 32rem;
        height: 62.3rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }
}

img {
    width: 100%;
    border-radius: 2rem;
    color: rgb(31, 49, 79);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 1.6rem;
    font-family: Outfit, sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
}

p {
    margin-top: 1.6rem;
    color: rgb(104, 119, 141);
    font-family: Outfit, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.02rem;
    text-align: center;
}